<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzw.meblog.mapper.PostMapper">
  <resultMap id="BaseResultMap" type="com.lzw.meblog.model.Post">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <resultMap id="postResultMap" type="com.lzw.meblog.dto.PostDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="summary" jdbcType="VARCHAR" property="summary" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <resultMap id="categoryResultMap" type="com.lzw.meblog.dto.CategoryDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <resultMap id="tagResultMap" type="com.lzw.meblog.dto.TagDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <resultMap id="bodyResultMap" type="com.lzw.meblog.dto.BodyDto">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
  </resultMap>
  <resultMap id="detailedPostResultMap" type="com.lzw.meblog.dto.DetailedPostDto">
    <id column="post_id" jdbcType="INTEGER" property="id" />
    <result column="post_title" jdbcType="VARCHAR" property="title" />
    <result column="post_summary" jdbcType="VARCHAR" property="summary" />
    <result column="post_img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="post_gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
    <result column="post_gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <association property="body" javaType="com.lzw.meblog.dto.BodyDto" resultMap="bodyResultMap" columnPrefix="body_"/>
    <collection property="categories" ofType="com.lzw.meblog.dto.CategoryDto" resultMap="categoryResultMap" columnPrefix="category_" />
    <collection property="tags" ofType="com.lzw.meblog.dto.TagDto" resultMap="tagResultMap" columnPrefix="tag_" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, summary, img_url, gmt_create, gmt_modified
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from post
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from post
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.lzw.meblog.model.Post" useGeneratedKeys="true">
    insert into post (title, summary, img_url, 
      gmt_create, gmt_modified)
    values (#{title,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, 
      #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.lzw.meblog.model.Post" useGeneratedKeys="true">
    <!--
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    -->
    insert into post
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="summary != null">
        summary,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lzw.meblog.model.Post">
    update post
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lzw.meblog.model.Post">
    update post
    set title = #{title,jdbcType=VARCHAR},
      summary = #{summary,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getAllPosts" resultMap="postResultMap">
    select id, title, summary, img_url, gmt_create from post
  </select>
  <select id="getDetailedPostById" parameterType="java.lang.Integer" resultMap="detailedPostResultMap">
    select
      post.id as post_id,
      post.title as post_title,
      post.summary as post_summary,
      post.img_url as post_img_url,
      post.gmt_create as post_gmt_create,
      post.gmt_modified as post_gmt_modified,
      category.id as category_id,
      category.name as category_name,
      tag.id as tag_id,
      tag.name as tag_name,
      body.content as body_content,
      body.gmt_create as body_gmt_create,
      body.gmt_modified as body_gmt_modified
    from post
      left outer join post_category on post.id = post_category.post_id
      left outer join category on post_category.category_id = category.id
      left outer join post_tag on post.id = post_tag.post_id
      left outer join tag on post_tag.tag_id = tag.id
      left outer join body on post.id = body.post_id
    where post.id = #{id}
  </select>
</mapper>